<h1>Hello world</h1>
<style type="text/css"></style>
<body>adarsh</body>
<title>Ruby on Rails</title>
<meta charset="utf-8">
<input type="Ruby" name="">
<button>aaa</button>
<frame>54</frame>
<b>bgd</b>
<hr>ragfegsrb
<br/><br/>
THIS IS MY WEB FOR RAILS..
<br/><br/>
THIS IS MY WEB FOR RUBY..